<!DOCTYPE html>
<html lang="esp">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--- Css de Libreria  -->
	  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<!--Estilos css-->
	<link rel="stylesheet" href="../css/estilo.css">
    <title>.:Action Games:.</title>
</head>
<body>
<header>
    <!--nav + logo--> 
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-xs-12 ">
				<img class="logo"src="../assets/img/logo_1.png" alt="logo" width="100px">
			</div>
			<div class="col-lg-8 col-xs-12">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<a class="navbar-brand" href="../index.html">Servicio Técnico - La Plata</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
					  <span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					  <div class="navbar-nav">
						<a class="nav-link active" href="../views/servicios.html">Servicios <span class="sr-only">(current)</span></a>
						<a class="nav-link" href="../views/nosotros.html">Nosotros</a>
						<a class="nav-link" href="../views/empresas.html">Empresas</a>
						<a class="nav-link" href="../views/contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
					  </div>
					</div>
				  </nav>
			</div>
		</div>    
    </div>
    <!--Fin barra navegacion-->               
</header>       
    <section>
        <article id="imgEmpresas" class="parrafos" data-aos="zoom-out-up">
            <!--3 imagines y descripción de la atención a empresas-->
            <div class="container-fluid">
                <div id="empresas" class="row">
                  <div class="col-lg-4 col-xs-12">
                    <img src="../assets/img/empresas1.jpg" alt="foto servidor" class="img-fluid" >
                  </div>
                  <div class="col-lg-4 col-xs-12">  
                    <img src="../assets/img/empresas2.jpg" alt="operador servidor" class="img-fluid">
                  </div>
                  <div class="col-lg-4 col-xs-12"> 
                    <img src="../assets/img/empresas4.jpg" alt="redes" class="img-fluid">
                  </div>          
              </div>
            </div>  
          <!-- barra Js-->  
            <nav id="navbar-example2" class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">Empresas</a>
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a class="nav-link" href="#fat">Redes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#mdo">Ciberseguridad</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mas</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#one">Mantenimiento</a>
                      <a class="dropdown-item" href="#two">Locales</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#three">Servidores</a>
                    </div>
                  </li>
                </ul>
              </nav>
              <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
                <h4 id="fat">Redes</h4>
                <p>Una red informática es una conexión de equipos que trabajarán con un objetivo común. Si cuentas con una red informática en tu empresa, puede que tengas varios ordenadores conectados físicamente mediante cableado o a través de Wi-Fi, y que solo los usuarios de la empresa tengan permitido el acceso a esa red local.

                  Esto sirve para transmitir datos de forma más rápida y confidencial y así poder aprovechar todas sus ventajas para tu negocio. Sin embargo, para poder sacarle el máximo partido, te recomendamos que realices un mantenimiento de redes preventivo que te permita solucionar cualquier problema antes de que suceda y optimizar los recursos de los que dispones.</p>
                <h4 id="mdo">Ciberseguridad</h4>
                <p>La ciberseguridad es el conjunto de procedimientos y herramientas que se implementan para proteger la información que se genera y procesa a través de computadoras, servidores, dispositivos móviles, redes y sistemas electrónicos.</p>
                <h4 id="one">Mantenimiento</h4>
                <p>El mantenimiento preventivo del servidor de empresa asegura una ciberseguridad y conectividad constantes. Es un imprescindible para tu empresa si tenemos en cuenta que todos los sectores están siendo digitalizados y este aumento en el uso de tecnología ha provocado también un incremento en la número de ciberataques.</p>
                <h4 id="two">Locales</h4>
                <p>Tenemos precios especiales a Locales y empresas del gremio informático, contáctenos para mas información.</p>
                <h4 id="three">Servidores</h4>
                <p>Disponer de un Sistema de Alimentación Ininterrumpida o SAI te proporcionará electricidad alternativa en caso de una caída o pérdida de la tensión eléctrica.
                  Si hubieran apagones continuos se podría debilitar el funcionamiento del servidor, por lo que deberás tomar medidas de seguridad al respecto.
                  
                  Estas son sin duda las recomendaciones más básicas para el mantenimiento preventivo del servidor de tu empresa. Consulta siempre con tu encargado de IT para asegurarte de que el mantenimiento es constante o externaliza el mantenimiento para que tus servidores estén siempre protegidos y se mantengan al día. De esta forma, garantizas un rendimiento óptimo y la seguridad de todos tus equipos y datos.</p>
              </div>
              
        </article>
    </section>
    <!--footer-->
	<div class="container-fluid">
		<footer class="row footerBg paddingTB">
			<div class="col-lg-4 col-xs-12">			
				<h3><a href="https://api.whatsapp.com/send?phone=542215045072&text="><img src="../assets/img/wsp-footer.png" width="50px" alt="logo whatsapp" data-aos="zoom-in"> </a></h3>
			</div>	
            <div class="col-lg-4 col-xs-12">
				<h3><a href="https://www.facebook.com/actiongameslp"> <img src="../assets/img/facebook-footer.jpg" alt="" width="40px" data-aos="zoom-in"></a></h3>
			</div>
			<div class="col-lg-4 colo-xs-12">		
				<h3><a href="https://www.instagram.com/action_games_lp/"> <img src="../assets/img/insta-footer.png" alt="logo instagram" width="40px" data-aos="zoom-in"></a></h3>
          	</div>
		</footer>		
	</div>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!--Fin de pie de pagina-->
<!--Script Javascript-->	
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
	AOS.init();
</script>    
</body>
</html>